@model IEnumerable<Contact_Management_Web_App.ViewModels.ContactViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-8">
        <h1>Welcome to Contact Managment</h1>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-4">
            <a class="btn btn-primary float-right" asp-controller="Contact" asp-action="Create">New Contact</a>
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                       <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    | <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
